name: Release

on:
  push: 
    branches:
      - main
      - develop
  workflow_dispatch:

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}

jobs:
  release:
    name: Release
    uses: the0mikkel/ci/.github/workflows/semver-release-standalone.yml@v1.4.2
    permissions:
      contents: write
      packages: write
      id-token: write
    with:
      ENVIRONMENT: Release
